/** 
* @author: Alexander Chi
* @description:
* @date: 30/Agosto/2021
**/  
@import './assets/scss/colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

$font-stack: 'Inter', 'Lexend Deca', sans-serif;

* {
  margin: 0;
  padding: 0;
  font: {
    family: $font-stack;
  };
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.card__content {
  display: flex; 
}

.card__body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px;
}

.card__footer {
  display: flex;
  justify-content: space-between;
}

.card__items {
  display: flex;
  flex-direction: column;
}